<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body style='margin:0;'>
  <a class="controls" href="#">
    <img src='assets/images/pause.svg' class="control-pause" alt="Pause" />
    <img src='assets/images/play.svg' class="control-play" alt="Play" />
  </a>
</body>
</html>
