<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body {
        background: black;
        margin: 0;
      }

      @keyframes flash {
        0.01% {
          opacity: 0
        },
        50% {
          opacity: 0
        }
        50.01% {
          opacity: 1
        },
        100% {
          opacity: 0
        }
      }
      .ui-container {
        display: none;
      }

      .loading {
        display: flex;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        font-family: "Console", monospace;
        animation: flash 0.1s infinite;
      }
    </style>
</head>
<body class="info-is-showing">
  <div class="loading">
    <span>Loading...</span>
  </div>
  <div class="ui-container">
    <div class="content-container">
      <div id="outro" class="content">
        <div class="row">
          <a href="https://polyop.bandcamp.com/XXXXX" data-ga-track><img src="assets/images/cover.gif" alt="EP Cover"></a>
          <div>
            <h1>polyop - run_test [polyx0x_001]</h2>
            <p>Free EP available via <a href="https://polyop.bandcamp.com/XXXXX" data-ga-track>Bandcamp</a>. On other platforms soon.</p>
            <p><a class="button button-large" href="https://polyop.bandcamp.com/XXXXX" data-ga-track>> free download</a></p>
            <!-- <p><a class="button" href="#">> restart</a></p> -->
            <p><a class="button" href="#">> view source --github</a></p>
          </div>
      </div>
      </div>
      <div id="intro" class="content">
        <h1>polyop - run_grids</h2>
        <p>Headphones recommended. Google Chrome recommended. Modern device recommended. Phase-shift brain cap recommended.</p>
        <p><a class="button button-large" id='control-play' href="#">> <span id="resume-run">run</span>_grids.exe</a></p>
        <p><a class="button" href="https://polyop.bandcamp.com/XXXXX" data-ga-track>> .wav & .mp3  --bandcamp</a></p>
        <p><a class="button" href="https://polyop.bandcamp.com/XXXXX" data-ga-track>> view source --github</a></p>
      </div>
    </div>
    <a class="cta-mini" href="https://polyop.bandcamp.com/XXXXX" data-ga-track>
      <img src="assets/images/cover.gif" alt='EP Cover'>
      <div class="cta-mini__text">
        <h2>> download EP --bandcamp</h2>
        <p>polyop - run_test [polyx0x_001]</p>
      </div>
    </a>
    <a class="controls" href="#">
      <img src='assets/images/pause.svg' class="control-pause" alt="Pause" />
      <img src='assets/images/play.svg' class="control-play" alt="Play" />
    </a>
  </div>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	 	ga('create', 'UA-60252396-1', 'auto');
	  ga('send', 'pageview');

		function trackOutboundLink(url) {
		   ga('send', 'event', 'outbound', 'click', url, {
		     'transport': 'beacon',
		     'hitCallback': function(){document.location = url;}
		   });
		}
  </script>
</body>
</html>
