<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body {
        background: black;
      }

      @keyframes flash {
        0.01% {
          opacity: 0
        },
        50% {
          opacity: 0
        }
        50.01% {
          opacity: 1
        },
        100% {
          opacity: 0
        }
      }
      .ui-container {
        display: none;
      }

      .loading {
        display: flex;
        color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        font-family: "Lucida Console", Monaco, monospace;
        animation: flash 0.1s infinite;
      }
    </style>
</head>
<body style='margin:0;'>
  <div class="loading">
    <span>Loading...</span>
  </div>
  <div class="ui-container">
    <div class="content-container">
      <div id="intro" class="content">
        <h1>Polyx0x001 - Blah blah</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        <p><a class="button button-large" id='control-play' href="#">> Play video</a></p>
        <p><a class="button"  href="#">> Listen to the whole EP on Bandcamp</a></p>
      </div>
    </div>
    <a class="controls" href="#">
      <img src='assets/images/pause.svg' class="control-pause" alt="Pause" />
      <img src='assets/images/play.svg' class="control-play" alt="Play" />
    </a>
  </div>
</body>
</html>
