<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body style='margin:0;'>
  <div class="content-container">
    <div id="intro" class="content">
      <h1>Polyx0x001 - Blah blah</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
      <p><a class="button button-large" id='control-play' href="#">> Play video</a></p>
      <p><a class="button"  href="#">> Listen to the whole EP on Bandcamp</a></p>
    </div>
  </div>
  <a class="controls" href="#">
    <img src='assets/images/pause.svg' class="control-pause" alt="Pause" />
    <img src='assets/images/play.svg' class="control-play" alt="Play" />
  </a>
</body>
</html>
